[submodule "kraken"]
	path = kraken
	url = https://github.com/jambtc/kraken.git
[submodule "bitstamp"]
	path = bitstamp
	url = https://github.com/jambtc/bitstamp.git
[submodule "binance"]
	path = binance
	url = https://github.com/jambtc/binance.git
